
*.v2
Calculator/.vs/
Calculator/Calculator/.vs/
Calculator/Calculator/bin/
Calculator/Calculator/obj/
Calculator/HelloPTC.Test/bin/
Calculator/HelloPTC.Test/obj/
UniversityManager/UniversityManager.DataAccess/bin/
UniversityManager/UniversityManager.DataAccess/obj/
UniversityManager/UniversityManager.Model/obj/
UniversityManager/UniversityManager.Service/bin/
UniversityManager/UniversityManager.Service/obj/
UniversityManager/UniversityManager.Test/bin/
UniversityManager/UniversityManager.Test/obj/
UniversityManager/UniversityManager.UI/bin/
UniversityManager/UniversityManager.UI/obj/
UniversityManager/UniversityManager.Model/bin/
UniversityManager/.vs/
UniversityManager/UniversityManager.Repository/bin/
UniversityManager/UniversityManager.Repository/obj/
